body
{
	color: white;
	font-family: 'Lato', sans-serif;
	background-color: black;
}
#center {
	margin: auto;
	width: 80%;
	height: 80%;
	border: 3px solid #494949;
	padding: 10px;
	text-align: center;
}
.subcenter {
	margin: auto;
	width: 96%;
	border: 3px solid #494949;
	padding: 10px;
	text-align: center;
}